{%- if product and product != blank -%}

  {% assign snippet_name = 'card-product' %}
  {% assign snippet_classes = snippet_name %}
  {% assign snippet_id = snippet_name | append: '--' | append: article.id -%}
  {% assign style = style | default: 'default' %}

  {% if classes and classes != empty %}
    {% assign snippet_classes = snippet_classes | prepend: ' ' | prepend: classes %}
  {% endif %}

  {% assign featured_image = product.featured_image | default: false %}
  {% assign title = product.title | default: '' %}
  {% assign type = product.type | default: '' %}
  {% assign url = product.url | default: '' %}

  <article class="{{ snippet_classes }} {{ snippet_name }}--{{ style }} product" id="{{ snippet_id }}">

    {% case style %}

      {% when 'featured' %}

        <div class="{{ snippet_name }}__featured-image product__featured-image">
          <a class="{{ snippet_name }}__featured-image-link" href="{{ url }}" title="{{ title }}" target="_self">
            {%
              render 'content--lazyload-image',
              alt_text: title,
              image: featured_image,
            %}
          </a>
          {% if type != blank %}
            <strong class="{{ snippet_name }}__caption caption--2">{{ type }}</strong>
          {% endif %}
        </div>

      {% when 'fifty-fifty' %}

        <div class="{{ snippet_name }}__featured-image product__featured-image">
          <a class="{{ snippet_name }}__featured-image-link" href="{{ url }}" title="{{ title }}" target="_self">
            {%
              render 'content--lazyload-image',
              alt_text: title,
              image: featured_image,
            %}
          </a>
          {% if type != blank %}
            <strong class="{{ snippet_name }}__type caption--2">{{ type }}</strong>
          {% endif %}
        </div>

    {% endcase %}

  </article>

{%- endif -%}
