{% comment %}

    Accepts:
    - aos: {String} AOS
    - caption: {String} Description of featured image (optional)
    - card_product: {Object} Product Liquid object
    - style: {String} Conditionally load different card types by passing style option
    – list_item: {Boolean} Optionally include ARAI "listitem" to roll attribute

    Usage:
    {% render 'card-product', caption: 'What an amazing caption', card_product: product, product_title: 'Some Custom Title', style: 'some-predefined-style' %}

{% endcomment %}

{%- if card_product and card_product != blank -%}

  {% assign snippet_name = 'card-product' %}
  {% assign snippet_classes = snippet_name | append: ' product' %}
  {% assign snippet_id = snippet_name | append: '--' | append: card_product.id -%}
  {% assign aos = aos | default: '' %}
  {% assign caption = caption | default: '' %}
  {% assign image_position = image_position | default: '0' | plus: 0 %}
  {% assign product_title = product_title | default: '' %}
  {% assign show_secondary_image = show_secondary_image | default: false %}
  {% assign style = style | default: 'default' %}
  {% assign list_item = list_item | default: false %}

  {% if classes and classes != empty %}
    {% assign snippet_classes = snippet_classes | prepend: ' ' | prepend: classes %}
  {% endif %}

  {% assign aos_id = snippet_id | append: '--aos' %}
  {% assign aos_delay = 250 %}
  {% assign aos_delay_increment = 250 %}

  {% assign available = card_product.available | default: false %}
  {% assign date_published = card_product.published_at %}
  {% assign featured_image = card_product.featured_image | default: false %}
  {% assign images = card_product.images | default: false %}
  {% assign price = card_product.price %}
  {% assign price_compare = card_product.compare_at_price %}
  {% assign secondary_image = false %}
  {% assign selected_variant = card_product.selected_or_first_available_variant | default: false %}
  {% assign title = card_product.title | default: '' %}
  {% assign type = card_product.type | default: '' %}
  {% assign url = card_product.url | default: '' %}

  {% if images and images.size > 1 %}
    {% assign featured_image = images[image_position] %}
    {% if show_secondary_image %}
      {% assign secondary_image = images[1] %}
    {% endif %}

  {% endif %}

  {% if product_title != blank %}
    {% assign title = product_title %}
  {% endif %}

  <article
    class="{{ snippet_classes }}"
    id="{{ snippet_id }}"
    data-published-at="{{ date_published | date: "%Y-%m-%d %H:%M:%S" }}"
    data-style="{{ style }}" {% unless available %}data-unavailable{% endunless %}
    {% if aos != blank %}{{ aos }}{% endif %}
    {% if list_item %}role="listitem"{% endif %}
  >
    <div class="{{ snippet_classes }}__layout" id="{{ aos_id }}">

      {% case style %}

        {% when 'collection-product-grid', 'featured-carousel' %}
          <div class="{{ snippet_name }}__featured-image product__featured-image">
            <a class="{{ snippet_name }}__featured-image-link" href="{{ url }}" title="{{ title }}" target="_self">
              {%
                render 'lazyload-image',
                alt_text: title,
                image: featured_image,
              %}
              {% if secondary_image %}
                <div class="{{ snippet_name }}__secondary-image">
                  {%
                    render 'lazyload-image',
                    background: true,
                    image: secondary_image,
                  %}
                </div>
              {% endif %}
            </a>
          </div>
          <div class="{{ snippet_name }}__info">
            <strong class="{{ snippet_name }}__title caption caption--2">{{ title }}</strong>
            {% render 'price', classes: 'card-product__price caption caption--2', product: card_product, show_currency_code: true %}
          </div>

        {% when 'contact-form' %}

          {% if caption != blank %}
            {% assign title = caption %}
          {% endif %}

          <div class="{{ snippet_name }}__featured-image product__featured-image">
            <a class="{{ snippet_name }}__featured-image-link" href="{{ url }}" title="{{ title }}" target="_self">
              {%
                render 'lazyload-image',
                alt_text: title,
                image: featured_image,
              %}
            </a>
            {% if title != blank %}
              <div class="{{ snippet_name }}__caption caption caption--2">
                <strong>{{ title }}</strong>
              </div>
            {% endif %}
          </div>

        {% when 'fifty-fifty' %}

          <div class="{{ snippet_name }}__featured-image product__featured-image">
            <a class="{{ snippet_name }}__featured-image-link" href="{{ url }}" title="{{ title }}" target="_self">
              {%
                render 'lazyload-image',
                alt_text: title,
                image: featured_image,
              %}
            </a>
            {% if title != blank %}
              <strong class="{{ snippet_name }}__title caption caption--2">{{ title }}</strong>
            {% endif %}
          </div>

      {% endcase %}
    </div>
  </article>

{%- endif -%}
