{% comment %}

    Accepts:
    - caption: {String} Description of featured image (optional)
    - product: {Object} Product Liquid object
    - style: {String} Conditionally load different card types by passing style option


    Usage:
    {% render 'card-product', caption: 'What an amazing caption', product: product, style: 'some-predefined-style' %}

{% endcomment %}

{%- if product and product != blank -%}

  {% assign snippet_name = 'card-product' %}
  {% assign snippet_classes = snippet_name | append: ' product' %}
  {% assign snippet_id = snippet_name | append: '--' | append: product.id -%}
  {% assign caption = caption | default: '' %}
  {% assign image_position = image_position | default: '0'%}
  {% assign style = style | default: 'default' %}

  {% if classes and classes != empty %}
    {% assign snippet_classes = snippet_classes | prepend: ' ' | prepend: classes %}
  {% endif %}

  {% assign aos_id = snippet_id | append: '--aos' %}
  {% assign aos_delay = 250 %}
  {% assign aos_delay_increment = 250 %}

  {% assign available = product.available | default: false %}
  {% assign date_published = product.published_at %}
  {% assign featured_image = product.featured_image | default: false %}
  {% assign images = product.images | default: false %}
  {% assign price = product.price %}
  {% assign price_compare = product.compare_at_price %}
  {% assign selected_variant = product.selected_or_first_available_variant | default: false %}
  {% assign title = product.title | default: '' %}
  {% assign type = product.type | default: '' %}
  {% assign url = product.url | default: '' %}

  {% render 'tools--debug-this': item: image_position %}

  {% if images and images.size > 1 and  %}
    {% assign featured_image = images[image_position] %}
  {% endif %}

  <article class="{{ snippet_classes }}" id="{{ snippet_id }}" data-published-at="{{ date_published | date: "%Y-%m-%d %H:%M:%S" }}" data-style="{{ style }}" {% unless available %}data-unavailable{% endunless %}>
    <div class="{{ snippet_classes }}__layout" id="{{ aos_id }}">

      {% case style %}

        {% when 'collection-product-grid', 'feature-carousel' %}
          <div class="{{ snippet_name }}__featured-image product__featured-image">
            <a class="{{ snippet_name }}__featured-image-link" href="{{ url }}" title="{{ title }}" target="_self">
              {%
                render 'lazyload-image',
                alt_text: title,
                image: featured_image,
              %}
            </a>
          </div>
          <div class="{{ snippet_name }}__info">
            <strong class="{{ snippet_name }}__title caption caption--2">{{ title }}</strong>
            {% render 'price', classes: 'card-product__price caption--2', product: product, show_currency_code: true %}
          </div>

        {% when 'contact-form' %}

          {% if caption != blank %}
            {% assign title = caption %}
          {% endif %}

          <div class="{{ snippet_name }}__featured-image product__featured-image">
            <a class="{{ snippet_name }}__featured-image-link" href="{{ url }}" title="{{ title }}" target="_self">
              {%
                render 'lazyload-image',
                alt_text: title,
                image: featured_image,
              %}
            </a>
            {% if title != blank %}
              <div class="{{ snippet_name }}__caption caption caption--2">
                <strong>{{ title }}</strong>
              </div>
            {% endif %}
          </div>

        {% when 'fifty-fifty' %}

          <div class="{{ snippet_name }}__featured-image product__featured-image">
            <a class="{{ snippet_name }}__featured-image-link" href="{{ url }}" title="{{ title }}" target="_self">
              {%
                render 'lazyload-image',
                alt_text: title,
                image: featured_image,
              %}
            </a>
            {% if type != blank %}
              <strong class="{{ snippet_name }}__type caption caption--2">{{ type }}</strong>
            {% endif %}
          </div>

      {% endcase %}
    </div>
  </article>

{%- endif -%}
