{% comment %}

    Accepts:
    - link: {Object} Link Liquid object

    Usage:
    {% render 'navigation-item', link: link %}

{% endcomment %}

{%- if link and link != blank -%}

  {% assign link_active = link.active | default: false %}
  {% assign link_title = link.title | default: '' %}
  {% assign link_url = link.url | default: '' %}
  {% assign link_has_links = false %}
  {% if link.links.size > 0 %}
    {% assign link_has_links = true %}
  {% endif %}

  <div class="navigation__item{% if link_has_links %} has-links{% endif %}">

    <a class="navigation__link link{% if link_active %} active{% endif %}" href="{{ link_url }}">{{ link_title }}</a>

    {% if link_has_links %}
      <div class="sub-navigation">
        {% render 'bs-container', container: 'container', state: 'open' %}
          <div class="sub-navigation__layout">

            {% for sub_link in link.links %}

              {% assign sub_link_active = sub_link.active | default: false %}
              {% assign sub_link_title = sub_link.title | default: '' %}
              {% assign sub_link_url = sub_link.url | default: '' %}
              {% assign sub_link_has_links = false %}
              {% if sub_link.links.size > 0 %}
                {% assign sub_link_has_links = true %}
              {% endif %}

              <div class="sub-navigation__item{% if sub_link_has_links %} has-links{% endif %}">

                <a class="sub-navigation__link link caption--2{% if sub_link_active %} active{% endif %}" href="{{ sub_link_url }}">{{ sub_link_title }}</a>

                {% if sub_link_has_links %}

                  <div class="sub-sub-navigation" data-links-count="{{ sub_link.links.size }}">
                    {% for sub_sub_link in sub_link.links %}
                      {% assign sub_sub_link_active = sub_sub_link.active | default: false %}
                      {% assign sub_sub_link_title = sub_sub_link.title | default: '' %}
                      {% assign sub_sub_link_url = sub_sub_link.url | default: '' %}
                      <div class="sub-sub-navigation__item">
                        <a class="sub-sub-navigation__link link{% if sub_sub_link_active %} active{% endif %}" href="{{ sub_sub_link_url }}">{{ sub_sub_link_title }}</a>
                      </div>
                    {% endfor %}
                  </div>

                {% endif %}

              </div>

            {% endfor %}

          </div>
        {% render 'bs-container', state: 'closed' %}
      </div>
    {% endif %}

  </div>

{%- endif -%}
