{%- assign snippet_name = 'add-to-cart-notification' -%}

<div class="{{ snippet_name }}" id="{{ snippet_name }}">
  <!-- Render Template from Cart.js -->
  <div class="{{ snippet_name }}__main">
    <div class="{{ snippet_name }}__image">
      <img src="{{ 'THEIR--product-image--gold-boy-ring--featured-image-sample.webp' | asset_img_url: 'thumb' }}" alt="Gold Boy Ring" />
    </div>
    <div class="{{ snippet_name }}__content">
      <strong class="{{ snippet_name }}__product-title caption caption--2">Gold Boy Ring</strong>
      <div class="{{ snippet_name }}__product-option">
        <div class="{{ snippet_name }}__product-option-name">Size</div>
        <div class="{{ snippet_name }}__product-option-value">6.5</div>
      </div>
    </div>
  </div>

</div>
