{%- comment -%}

    Accepts:
    - classes: {String} Any combination of words
    - product: {Object} Product Liquid object,
    - show_currency_code: {Boolean} Conditionally show the currency code
    - show_currency_symbol: {Boolean} Conditionally show the currency symbol

    Usage:
    {%- render 'price', classes: 'my-great-class another-class',  product: product -%}

{%- endcomment -%}

{%- if product and product != blank -%}

  {% assign snippet_name = 'price' %}
  {% assign snippet_classes = snippet_name %}

  {% if classes and classes != empty %}
    {% assign snippet_classes = snippet_classes | prepend: ' ' | prepend: classes %}
  {% endif %}

  {%- assign available = product.available -%}
  {%- assign currency_code = shop.currency | default: 'USD' -%}
  {%- assign currency_symbol = shop.currency.symbol | default: '$' -%}
  {%- assign price = product.price | divided_by: 100 -%}
  {%- assign price_compare = product.compare_at_price | divided_by: 100 -%}
  {%- assign show_currency_code = show_currency_code | default: false -%}
  {%- assign show_currency_symbol = show_currency_symbol | default: false -%}

  <div class="{{ snippet_classes }}" data-price="{{ price }}" data-compate-at-price="{{ price_compare }}">
    <span class="{{ snippet_name }}__amount">
      {%- if show_symbol -%}<span class="{{ snippet_name }}__currency-symbol">{{ currency_symbol }}</span>{%- endif -%}
      {{- price -}}
      {%- if show_currency_code -%}<span class="{{ snippet_name }}__currency-code">{{ currency_code }}</span>{%- endif -%}
    </span>
    {%- if price_compare > 0 -%}
      <span class="{{ snippet_name }}__amount compare-at-price">
        {%- if show_symbol -%}<span class="{{ snippet_name }}__currency-symbol">{{ currency_symbol }}</span>{%- endif -%}
        {{- price_compare -}}
        {%- if show_currency_code -%}<span class="{{ snippet_name }}__currency-code">{{ currency_code }}</span>{%- endif -%}
      </span>
    {%- endif -%}
  </div>

{%- endif -%}
