{% assign section_name = 'contact-form' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign heading = section.settings.heading | default: '' %}
{% assign message = section.settings.message | default: false %}
{% assign products = section.blocks | where: 'type', 'product' | default: false %}

{% if section.settings.anchor_id != blank %}
  {% assign section_id = section.settings.anchor_id %}
{% endif %}

<div class="{{ section_name }}" id="{{ section_id }}">
  {% render 'bs-container', state: 'open', col: 'col-12 col-lg-10 offset-lg-1' %}
    <div class="{{ section_name }}__layout">
			{% if products %}
      	<div class="{{ section_name }}__featured-content" data-products-total="{{ products.size }}">
					<div class="{{ section_name }}__featured-content-wrapper">
						{%- for block in products -%}

							{% assign caption = block.settings.caption | default: '' %}
							{% assign featured_product = block.settings.product | default: false %}
          		{% assign title = featured_product.title | default: '' %}
							{% assign featured_image = featured_product.featured_image | default: false %}
							{% assign url = featured_product.url | default: '' %}

							{% if featured_product %}
								<div class="{{ section_name }}__featured-product" data-count="{{ forloop.index }}" data-index="{{ forloop.index0 }}">
									{% render 'card-product', caption: caption, product: featured_product, style: section_name %}
								</div>
							{% endif %}

						{% endfor %}
					</div>
				</div>
			{% endif %}
			<div class="{{ section_name }}__form">
				<h2 class="{{ section_name }}__form heading--1">Contact</h2>
				{% render 'form--contact-us' %}
			</div>
    </div>
  {% render 'bs-container', state: 'closed' %}
</div>

{% schema %}
{
	"name": "Contact Form",
	"tag": "section",
	"class": "section section--contact-form section--padding-y",
	"max_blocks": 2,
	"settings": [
		{
			"content": "Content",
			"type": "header"
		},
		{
			"label": "Heading",
			"type": "richtext",
			"id": "heading"
		},
		{
			"label": "Message",
			"type": "richtext",
			"id": "message"
		},
		{
			"content": "Settings",
			"type": "header"
		},
		{
			"label": "Anchor ID",
			"info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
			"type": "text",
			"id": "anchor_id"
		}
	],
	"blocks": [
		{
      "name": "Product",
      "type": "product",
      "settings": [
        {
          "label": "Product",
          "type": "product",
          "id": "product"
        },
        {
          "label": "Caption",
					"info": "Optionally customize the caption. By default, the block will reference the product's title.",
          "type": "text",
          "id": "caption"
        }
      ]
    }
	],
	"presets": [{
		"name": "Contact Form"
	}]
}
{% endschema %}
