{%- assign section_name = 'faqs' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% if section.settings.anchor_id != blank %}
  {% assign section_id = section.settings.anchor_id %}
{% endif %}

{% assign faqs = section.blocks | where: 'type', 'faq' | default: false %}
{% assign heading = section.settings.heading | default: '' %}
{% assign message = section.settings.message | default: '' %}

<div class="{{ section_name }}" id="{{ section_id }}">
  {% render 'bs-container', state: 'open', col: 'col-12 col-lg-8 offset-lg-2' %}
    <div class="{{ section_name }}__main">

      {% if heading != blank %}<h2 class="{{ section_name }}__heading heading--1">{{ heading }}</h2>{% endif %}
      {% if message != blank %}<div class="{{ section_name }}__message body-copy--1">{{ message }}</div>{% endif %}

      {% if faqs %}
        {%- for block in faqs -%}

          {% assign item_id = section_name | append: '__item--' | append: block.id %}
          {% assign question = block.settings.title | default: '' %}
          {% assign answer = block.settings.answer | default: '' %}

          {% if question != blank and answer != blank %}
            <div class="{{ section_name }}__item collapsible" data-count="{{ forloop.index }}">

              <button
                class="{{ section_name }}__collapsible-trigger button--collapsible collapsible__trigger{% unless forloop.first %} collapsed{% endunless %}"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#{{ item_id }}"
                aria-expanded="false"
                aria-controls="{{ item_id }}"
              >
                <span class="button__title">{{ question }}</span>
                <span class="button__icon">
                  <span class="button__icon-plus">{% render 'svg', type: 'icon.plus' %}</span>
                  <span class="button__icon-minus">{% render 'svg', type: 'icon.minus' %}</span>
                </span>
              </button>

              <div class="{{ section_name }}__collapsible-main collapsible__main collapse{% if forloop.first %} show{% endif %}" id="{{ item_id }}">
                <div class="{{ section_name }}__collapsible-content collapsible__content body-copy--1">{{ answer }}</div>
              </div>

            </div>
          {% endif %}

        {%- endfor -%}
      {% endif %}

    </div>
  {% render 'bs-container', state: 'closed' %}
</div>

{% schema %}
{
  "name": "FAQs",
  "tag": "section",
  "class": "section section--faqs",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Heading",
      "type": "text",
      "id": "heading"
    },
    {
      "label": "Message",
      "type": "richtext",
      "id": "message"
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    }
  ],
  "blocks": [
    {
      "name": "FAQ",
      "type": "faq",
      "settings": [
        {
          "label": "Question",
          "type": "text",
          "id": "title"
        },
        {
          "label": "Answer",
          "type": "richtext",
          "id": "answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQs"
    }
  ]
}
{% endschema %}
