{%- assign section_name = 'feature-carousel' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign glider_id = section_id | append: '--glider' %}

{%- if section.settings.anchor_id != blank -%}
  {%- assign section_id = section.settings.anchor_id -%}
{%- endif -%}

<div class="{{ section_name }}" id="{{ section_id }}">
  <div class="{{ section_name }}__layout">

    {% if section.blocks.size > 0 %}

      <div class="glide js--glider" id="{{ glider_id }}" data-glide-style="{{ section_name }}">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">

            {% for block in section.blocks %}
              <li class="glide__slide">
                <div class="{{ section_name }}__item" data-index0="{{ forloop.index0 }}" data-index="{{ forloop.index }}">
                  {% case block.type %}
                    {% when 'image' %}
                      {%
                        render 'card-image',
                        caption: block.settings.caption,
                        image: block.settings.image,
                        link: block.settings.link,
                        style: section_name
                      %}
                    {% when 'product' %}
                      {%
                        render 'card-product',
                        product: block.settings.product,
                        style: section_name
                      %}
                  {% endcase %}
                </div>
              </li>
            {% endfor %}

          </ul>
        </div>
      </div>

      <button class="glide__button button prev" type="button" data-target="#{{ glider_id }}">< Prev</button>
      <button class="glide__button button next" type="button" data-target="#{{ glider_id }}">Next ></button>

    {% endif %}

  </div>
</div>

{% schema %}
{
  "name": "Feature Carousel",
  "tag": "section",
  "class": "section section--feature-carousel",
  "settings": [
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "label": "Image",
          "type": "image_picker",
          "id": "image"
        },
        {
          "label": "Caption",
          "type": "text",
          "id": "caption"
        },
        {
          "label": "Link",
          "type": "url",
          "id": "link"
        }
      ]
    },
    {
      "name": "Product",
      "type": "product",
      "settings": [
        {
          "label": "Product",
          "type": "product",
          "id": "product"
        },
        {
          "label": "Image Position",
          "type": "select",
          "options": [
            { "value": "1", "label": "First (Featured)" },
            { "value": "2", "label": "Second" },
            { "value": "3", "label": "Third" }
          ],
          "default": "1",
          "id": "image_position"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Feature Carousel"
    }
  ]
}
{% endschema %}
