{%- assign section_name = 'feature-panel-03' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign aos_id = section_id | append: '--aos' %}
{% assign aos_delay = 250 %}
{% assign aos_delay_increment = 250 %}

{% assign auxiliary_image = section.settings.auxiliary_image | default: false %}
{% assign auxiliary_image_caption = section.settings.auxiliary_image_caption | default: '' %}
{% assign heading = section.settings.heading | default: '' %}
{% assign image = section.settings.image | default: false %}
{% assign image_caption = section.settings.image_caption | default: '' %}
{% assign image_supporting = section.settings.image_supporting | default: false %}
{% assign marker = section.settings.marker | default: '' %}
{% assign message = section.settings.message | default: '' %}

{%- if section.settings.anchor_id != blank -%}
  {%- assign section_id = section.settings.anchor_id -%}
{%- endif -%}

<div class="{{ section_name }}" id="{{ section_id }}">
  {% render 'bs-container', state: 'open' %}
    <div class="{{ section_name }}__layout" id="{{ aos_id }}">

      {% if marker != blank %}
        <div class="{{ section_name }}__marker caption caption--2">{{ marker }}</div>
      {% endif %}

      {% if auxiliary_image %}
        {% capture aos %}
          {%
            render 'aos-attributes',
            anchor: aos_id,
            delay: aos_delay,
            transition: 'fade-left',
          %}
        {% endcapture %}
        <div class="{{ section_name }}__auxiliary-image" {{ aos }}>
          {% render 'lazyload-image', image: auxiliary_image %}
          {% if auxiliary_image_caption %}
            <strong class="{{ section_name }}__auxiliary-image-caption caption caption--2">{{ auxiliary_image_caption }}</strong>
          {% endif %}
        </div>
      {% endif %}

      {% if heading != blank or message != blank %}
        <div class="{{ section_name }}__content">

          {% if image %}
            {% render 'lazyload-image', background: true, classes: 'feature-panel-03__content-background-image', image: image %}
          {% endif %}

          {% if heading != blank %}
            {% capture aos %}
              {%
                render 'aos-attributes',
                anchor: aos_id,
                delay: aos_delay,
                transition: 'fade-up',
              %}
            {% endcapture %}
            {% assign aos_delay = aos_delay | plus : aos_delay_increment %}
            <h2 class="{{ section_name }}__heading heading heading--1" {{ aos }}>{{ heading }}</h2>
          {% endif %}

          {% if message != blank %}
            {% capture aos %}
              {%
                render 'aos-attributes',
                anchor: aos_id,
                delay: aos_delay,
                transition: 'fade-up',
              %}
            {% endcapture %}
            {% assign aos_delay = aos_delay | plus : aos_delay_increment %}
            <div class="{{ section_name }}__message body-copy body-copy--1" {{ aos }}>{{ message }}</div>
          {% endif %}

          {% if image_supporting %}
            {% capture aos %}
              {%
                render 'aos-attributes',
                anchor: aos_id,
                delay: aos_delay,
                transition: 'fade-right',
              %}
            {% endcapture %}
            {% assign aos_delay = aos_delay | plus : aos_delay_increment %}
            <div class="{{ section_name }}__content-supporting-image" {{ aos }}>
              {% render 'lazyload-image', image: image_supporting %}
            </div>
          {% endif %}

          {% if image_caption %}
            <strong class="{{ section_name }}__content-image-caption caption caption--2">{{ image_caption }}</strong>
          {% endif %}

        </div>
      {% endif %}

    </div>
  {% render 'bs-container', state: 'closed' %}
</div>

{% schema %}
{
  "name": "Feature Panel 03",
  "tag": "section",
  "class": "section section--feature-panel-03",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Marker",
      "type": "text",
      "id": "marker"
    },
    {
      "label": "Heading",
      "type": "text",
      "id": "heading"
    },
    {
      "label": "Message",
      "type": "richtext",
      "id": "message"
    },
    {
      "content": "Media",
      "type": "header"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "image"
    },
    {
      "label": "Caption",
      "type": "text",
      "id": "image_caption"
    },
    {
      "label": "Supporting",
      "type": "image_picker",
      "id": "image_supporting"
    },
    {
      "content": "Auxiliary",
      "type": "paragraph"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "auxiliary_image"
    },
    {
      "label": "Caption",
      "type": "text",
      "id": "auxiliary_image_caption"
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Feature Panel 03"
    }
  ]
}
{% endschema %}
