{%- assign section_name = 'featured-carousel' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign glider_id = section_id | append: '--glider' %}
{% assign heading = section.settings.heading | append: '' %}
{% assign subheading = section.settings.subheading | append: '' %}

{%- if section.settings.anchor_id != blank -%}
  {%- assign section_id = section.settings.anchor_id -%}
{%- endif -%}

<div class="{{ section_name }}" id="{{ section_id }}">
  <div class="{{ section_name }}__layout">

    {% if heading != blank or subheading != blank %}
      <div class="{{ section_name }}__content">
        {% if heading != blank %}<strong class="{{ section_name }}__heading caption caption--2">{{ heading }}</strong>{% endif %}
        {% if subheading != blank %}<strong class="{{ section_name }}__subheading caption caption--2">{{ subheading }}</strong>{% endif %}
      </div>
    {% endif %}

    {% if section.blocks.size > 0 %}

      <div class="glide js--glider" id="{{ glider_id }}" data-glide-style="{{ section_name }}">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">

            {% for block in section.blocks %}

              {%- liquid

                assign show_slide = false

                case block.type
                  when 'image'
                    if block.settings.image
                      assign show_slide = true
                    endif
                  when 'product'
                    if block.settings.product.available
                      assign show_slide = true
                    endif
                endcase

              -%}

              {% if show_slide %}
                <li class="glide__slide">
                  <div class="{{ section_name }}__item" data-index0="{{ forloop.index0 }}" data-index="{{ forloop.index }}">
                    {% case block.type %}
                      {% when 'image' %}
                        {%
                          render 'card-image',
                          caption: block.settings.caption,
                          image: block.settings.image,
                          link: block.settings.link,
                          style: section_name
                        %}
                      {% when 'product' %}
                        {%
                          render 'card-product',
                          card_product: block.settings.product,
                          image_position: block.settings.image_position,
                          style: section_name
                        %}
                    {% endcase %}
                  </div>
                </li>
              {% endif %}
            {% endfor %}

          </ul>
        </div>
      </div>

      <div class="glide__buttons">
        <button class="glide__button button prev caption caption--2" type="button" data-trigger-next data-target="#{{ glider_id }}">< Prev</button>
        <button class="glide__button button next caption caption--2" type="button" data-trigger-prev data-target="#{{ glider_id }}">Next ></button>
      </div>

    {% endif %}

  </div>
</div>

{% schema %}
{
  "name": "Featured Carousel",
  "tag": "section",
  "class": "section section--featured-carousel",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Heading",
      "type": "text",
      "id": "heading"
    },
    {
      "label": "Subheading",
      "type": "text",
      "id": "subheading"
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "label": "Image",
          "type": "image_picker",
          "id": "image"
        },
        {
          "label": "Caption",
          "type": "text",
          "id": "caption"
        },
        {
          "label": "Link",
          "type": "url",
          "id": "link"
        }
      ]
    },
    {
      "name": "Product",
      "type": "product",
      "settings": [
        {
          "label": "Product",
          "type": "product",
          "id": "product"
        },
        {
          "label": "Image Position",
          "type": "select",
          "options": [
            { "value": "0", "label": "First (Featured)" },
            { "value": "1", "label": "Second" },
            { "value": "2", "label": "Third" }
          ],
          "default": "0",
          "id": "image_position"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Carousel"
    }
  ]
}
{% endschema %}
