{% assign section_name = 'footer' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign image = section.settings.image | default: false %}
{% assign menu_main = section.settings.menu_main | default: false %}
{% assign menu_policies = section.settings.menu_policies | default: false %}
{% assign newsletter_heading = section.settings.newsletter_heading | default: 'Register Today' %}
{% assign newsletter_button_title = section.settings.newsletter_button_title | default: 'Register' %}

<div class="{{ section_name }}" id="{{ section_id }}">
  {% render 'bs-container', container: 'container' %}

    <div class="{{ section_name }}__layout">

      <div class="{{ section_name }}__brand">
      <a class="{{ section_name }}__brand-link link" href="/" target="_self" title="Home">
        {% render 'svg', type: 'brand.logo' %}
      </a>
    </div>

      {% if menu_main %}
        <nav class="{{ section_name }}__main-navigation navigation--main">
          {% for link in linklists[menu_main].links %}
            {% render 'navigation-item', link: link %}
          {% endfor %}
        </nav>
      {% endif %}

      {% if image %}
        <div class="{{ section_name }}__image d-none d-lg-block">
          {% render 'lazyload-image', background: true, image: image %}
        </div>
      {% endif %}

      <div class="{{ section_name }}__newsletter">
        {% if newsletter_heading != blank %}
          <strong class="{{ section_name }}__newsletter-heading caption--2">{{ newsletter_heading }}</strong>
        {% endif %}
        <div class="{{ section_name }}__newsletter-form">
          {% render 'form-newsletter-sign-up', button_title: newsletter_button_title %}
        </div>
      </div>

      {% if image %}
        <div class="{{ section_name }}__image d-lg-none">
          {% render 'lazyload-image', background: true, image: image %}
        </div>
      {% endif %}

      <div class="{{ section_name }}__legal">
        {% if menu_policies %}
          <nav class="{{ section_name }}__policies-navigation navigation--policies">
            {% for link in linklists[menu_policies].links %}
              {% render 'navigation-item', link: link %}
            {% endfor %}
          </nav>
        {% endif %}
        <div class="{{ section_name }}__copyright">&copy; {{ shop.name }} All Rights Reserved, {{ "now" | date: "%Y" }}.</div>
      </div>

    </div>

  {% render 'bs-container', state: 'closed' %}
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Footer",
    "tag": "footer",
    "settings": [
      {
        "content": "Media",
        "type": "header"
      },
      {
        "label": "Image",
        "type": "image_picker",
        "id": "image"
      },
      {
        "content": "Navigation",
        "type": "header"
      },
      {
        "label": "Main Menu",
        "type": "link_list",
        "id": "menu_main"
      },
      {
        "label": "Policies Menu",
        "type": "link_list",
        "id": "menu_policies"
      },
      {
        "content": "Newsletter",
        "type": "header"
      },
      {
        "label": "Heading",
        "type": "text",
        "id": "newsletter_heading"
      },
      {
        "content": "Button",
        "type": "paragraph"
      },
      {
        "label": "Title",
        "type": "text",
        "id": "newsletter_button_title"
      }
    ],
	  "blocks": []
  }
{% endschema %}
