{% assign section_name = 'footer' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign image = section.settings.image | default: false %}
{% assign menu_main = section.settings.menu_main | default: false %}
{% assign menu_policies = section.settings.menu_policies | default: false %}

<div class="{{ section_name }}" id="{{ section_id }}">
  {% render 'bs-container', container: 'container-fluid' %}

    <div class="{{ section_name }}__brand">
      <a href="/" target="_self" title="Home">Brand</a>
    </div>

    <nav class="{{ section_name }}__main-navigation navigation"></nav>

    <div class="{{ section_name }}__newsletter"></div>

    <nav class="{{ section_name }}__policies-navigation navigation"></nav>

    <div class="{{ section_name }}__legal">
      {% if policies_menu %}
        {% render 'navigation', classes: 'footer__menus-policies', menu_handle: policies_menu %}
      {% endif %}
      <div class="{{ section_name }}__copyright">&copy; {{ shop.name }} {{ "now" | date: "%Y" }}.</div>
    </div>

  {% render 'bs-container', state: 'closed' %}
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Footer",
    "tag": "footer",
    "settings": [
      {
        "content": "Media",
        "type": "header"
      },
      {
        "label": "Image",
        "type": "image_picker",
        "id": "image"
      },
      {
        "content": "Navigation",
        "type": "header"
      },
      {
        "label": "Main Menu",
        "type": "link_list",
        "id": "menu_main"
      },
      {
        "label": "Policies Menu",
        "type": "link_list",
        "id": "menu_policies"
      },
      {
        "content": "Newsletter",
        "type": "header"
      }
    ],
	  "blocks": []
  }
{% endschema %}
