{%- liquid

  assign section_name = 'header'
  assign section_id = section_name | append: '--' | append: section.id

  assign aos_id = section_id | append: '--aos'
  assign aos_delay = 250
  assign aos_delay_increment = 250

  assign announcements = section.blocks | where: 'type', 'announcement' | default: false
  assign announcements_enabled = section.settings.announcements_enabled | default: false
  assign announcements_homepage_only = section.settings.announcements_homepage_only | default: false
  assign announcements_glider_id = section_id | append: '--announcements-glider'
  assign is_glider = false
  assign menu_main = section.settings.menu_main | default: false
  assign menu_main_extras = section.settings.menu_main_extras | default: false

  if announcements_enabled
    if announcements_homepage_only and 'index' != template.name
      assign announcements_enabled = false
    endif
  endif

-%}

{% if announcements %}

  {% if announcements.size > 1 %}
    {% assign is_glider = true %}
  {% endif %}

  <div class="{{ section_name }}__announcements">
    {% render 'bs-container', container: 'container', state: 'open' %}

      {% if is_glider %}<div class="glide js--glider" id="{{ announcements_glider_id }}" data-glide-style="{{ section_name }}-announcements">{% endif %}
        {% if is_glider %}<div class="glide__track" data-glide-el="track">{% endif %}
          {% if is_glider %}<ul class="glide__slides">{% endif %}

            {% for item in announcements %}

              {% assign message = item.settings.title | default: '' %}

              {% if message != blank %}
                {% if is_glider %}<li class="glide__slide">{% endif %}
                  <div class="{{ section_name }}__announcements-item caption caption--2">{{ message }}</div>
                {% if is_glider %}</li>{% endif %}
              {% endif %}

            {% endfor %}

          {% if is_glider %}</ul>{% endif %}
        {% if is_glider %}</div>{% endif %}
      {% if is_glider %}</div>{% endif %}

    {% render 'bs-container', state: 'closed' %}
  </div>
{% endif %}

<div class="{{ section_name }}__main">
  {% render 'bs-container', container: 'container', state: 'open' %}
    <div class="{{ section_name }}__layout">

      {% if menu_main %}
        <nav class="{{ section_name }}__navigation-main navigation--main">
          {% for link in linklists[menu_main].links %}
            {% render 'navigation-item', index: forloop.index, link: link %}
          {% endfor %}
        </nav>
      {% endif %}

      <div class="{{ section_name }}__brand">
        <a class="{{ section_name }}__brand-link link" href="/" target="_self" title="{{ shop.name }} Home">
          {% render 'svg', type: 'brand.logo' %}
        </a>
      </div>

      {% if menu_main_extras %}
        <nav class="{{ section_name }}__navigation-extras navigation--extras">
          {% for link in linklists[menu_main_extras].links %}
            {% render 'navigation-item', index: forloop.index, link: link %}
          {% endfor %}
          <div class="navigation__item">
            <a class="navigation__link link{% if request.path == '/cart' %} active{% endif %}" href="/cart">Bag [<span class="js--cart-item-count">{{ cart.item_count }} </span>]</a>
          </div>
        </nav>
      {% endif %}

      <button class="{{ section_name }}__hamburger hamburger js--mobile-menu-trigger" type="button">
        <span class="hamburger__main">
          <span class="hamburger__stroke top"></span>
          <span class="hamburger__stroke bottom"></span>
        </span>
      </button>

    </div>
  {% render 'bs-container', state: 'closed' %}
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Header",
    "tag": "header",
    "class": "header",
    "settings": [
      {
        "content": "Announcements",
        "type": "header"
      },
      {
        "label": "Show announcements",
      	"type": "checkbox",
        "default": true,
        "id": "announcements_enabled"
      },
      {
        "label": "Homepage only",
      	"type": "checkbox",
        "default": false,
        "id": "announcements_homepage_only"
      },
      {
        "content": "Navigation",
        "type": "header"
      },
      {
        "label": "Main Menu",
        "type": "link_list",
        "id": "menu_main"
      },
      {
        "label": "Main Menu Extras",
        "type": "link_list",
        "id": "menu_main_extras"
      }
    ],
    "blocks": [
      {
        "name": "Announcement",
        "type": "announcement",
        "limit": 5,
        "settings": [
          {
            "label": "Message",
            "type": "richtext",
            "id": "title"
          }
        ]
      }
    ]
  }
{% endschema %}
