{% assign section_name = 'header' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign menu_main = section.settings.menu_main | default: false %}
{% assign menu_main_extras = section.settings.menu_main_extras | default: false %}

<div class="{{ section_name }}__main">
  {% render 'layout--container' %}
    <div class="{{ section_name }}__layout">

      {% if menu_main %}
        {% render 'navigation', classes: 'header__main-menu d-none d-lg-inline-flex', menu_handle: menu_main %}
      {% endif %}

      <div class="{{ section_name }}__brand">
        <a href="/" target="_self" title="{{ shop.name }} Home">
          {% render 'svg', type: 'brand.logo' %}
        </a>
      </div>

      {% if menu_main_extras %}
        {% render 'navigation', classes: 'header__main-menu d-none d-lg-inline-flex', menu_handle: menu_main_extras %}
      {% endif %}

      <button class="{{ section_name }}__button button d-inline-flex d-lg-none" type="button">
        <span class="button__title">Menu</span>
      </button>

    </div>
  {% render 'layout--container', state: 'closed' %}
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Header",
    "tag": "header",
    "class": "header",
    "settings": [
      {
        "content": "Navigation",
        "type": "header"
      },
      {
        "label": "Main Menu",
        "type": "link_list",
        "id": "menu_main"
      },
      {
        "label": "Main Menu Extras",
        "type": "link_list",
        "id": "menu_main_extras"
      }
    ],
	  "blocks": []
  }
{% endschema %}
