{% assign section_name = 'header' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign announcements = section.blocks | where: 'type', 'announcement' | default: false %}
{% assign menu_main = section.settings.menu_main | default: false %}
{% assign menu_main_extras = section.settings.menu_main_extras | default: false %}

{% if announcements %}
  <div class="{{ section_name }}__announcements">
    {% render 'bs-container', container: 'container', state: 'open' %}
      {% for item in announcements %}

        {% assign message = item.settings.title | default: '' %}

        {% if message != blank %}
          <div class="{{ section_name }}__announcements-item">{{ message }}</div>
        {% endif %}

      {% endfor %}
    {% render 'bs-container', state: 'closed' %}
  </div>
{% endif %}

<div class="{{ section_name }}__main">
  {% render 'bs-container', container: 'container', state: 'open' %}
    <div class="{{ section_name }}__layout">

      {% if menu_main %}
        <nav class="{{ section_name }}__navigation-main navigation--main">
          {% for link in linklists[menu_main].links %}
            {% render 'navigation-item', index: forloop.index, link: link %}
          {% endfor %}
        </nav>
      {% endif %}

      <div class="{{ section_name }}__brand">
        <a class="{{ section_name }}__brand-link link" href="/" target="_self" title="{{ shop.name }} Home">
          {% render 'svg', type: 'brand.logo' %}
        </a>
      </div>

      {% if menu_main_extras %}
        <nav class="{{ section_name }}__navigation-extras navigation--extras">
          {% for link in linklists[menu_main_extras].links %}
            {% render 'navigation-item', index: forloop.index, link: link %}
          {% endfor %}
          <div class="navigation__item">
            <a class="navigation__link link" href="/cart">Bag [<span class="js--cart-item-count">{{ cart.item_count }} </span>]</a>
          </div>
        </nav>
      {% endif %}

      <button class="{{ section_name }}__hamburger hamburger js--mobile-menu-trigger" type="button">
        <span class="hamburger__main">
          <span class="hamburger__stroke top"></span>
          <span class="hamburger__stroke bottom"></span>
        </span>
      </button>

    </div>
  {% render 'bs-container', state: 'closed' %}
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Header",
    "tag": "header",
    "class": "header",
    "settings": [
      {
        "content": "Navigation",
        "type": "header"
      },
      {
        "label": "Main Menu",
        "type": "link_list",
        "id": "menu_main"
      },
      {
        "label": "Main Menu Extras",
        "type": "link_list",
        "id": "menu_main_extras"
      }
    ],
    "blocks": [
      {
        "name": "Announcement",
        "type": "announcement",
        "limit": 5,
        "settings": [
          {
            "label": "Message",
            "type": "richtext",
            "id": "title"
          }
        ]
      }
    ]
  }
{% endschema %}
