{%- assign section_name = 'hero' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign heading = section.settings.heading | default: '' %}
{% assign image = section.settings.image | default: false %}
{% assign image_caption = section.settings.image_caption | default: '' %}
{% assign message = section.settings.message | default: '' %}
{% assign style = section.settings.style | default: 'primary' %}

<div class="{{ section_name }}" id="{{ section_id }}" data-style-{{ style }}>

  <div class="{{ section_name }}__main">
    {% render 'bs-container', state: 'open', col: 'col-12' %}
      <div class="{{ section_name }}__layout">

        {% if image %}
          <div class="{{ section_name }}__media">
            {%
              render 'lazyload-image',
              background: true,
              classes: 'hero__image',
              image: image,
            %}
            {% if 'secondary' == style %}
              {% if image_caption != blank %}
                <strong class="{{ section_name }}__image-caption">{{ image_caption }}</strong>
              {% endif %}
            {% endif %}
          </div>
        {% endif %}

        {% if 'secondary' == style %}
          {% if heading != blank and message != blank %}
            <div class="{{ section_name }}__content">
              {% if heading != blank %}<h1 class="{{ section_name }}__heading">{{ heading }}</h1>{% endif %}
              {% if message != blank %}<div class="{{ section_name }}__message">{{ message }}</div>{% endif %}
            </div>
          {% endif %}
        {% endif %}

      </div>
    {% render 'bs-container', state: 'closed' %}
  </div>

  {% if 'primary' == style %}
    <div class="{{ section_name }}__indicator">
      <div class="{{ section_name }}__indicator-icon">
        {% render 'svg', type: 'icon.chevron' %}
      </div>
    </div>
  {% endif %}

</div>

{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "class": "section section--hero",
  "limit": 1,
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Heading",
      "type": "text",
      "id": "heading"
    },
    {
      "label": "Message",
      "type": "richtext",
      "id": "message"
    },
    {
      "content": "Media",
      "type": "header"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "image"
    },
    {
      "label": "Caption",
      "type": "text",
      "id": "image_caption"
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Style",
      "type": "select",
      "options": [
        { "value": "primary", "label": "Primary" },
        { "value": "secondary", "label": "Secondary" }
      ],
      "default": "primary",
      "id": "style"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
