{%- liquid

  assign section_name = 'password'
  assign section_id = section_name | append: '--' | append: section.id
  assign section_classes = section_name | append: ' section-' | append: section.id | append: '-padding'

  assign aos_id = section_id | append: '--aos'
  assign aos_delay = 250
  assign aos_delay_increment = 250

  assign background_colour = section.settings.background | default: 'white'
  assign container = section.settings.container | default: 'container'

  if section.settings.anchor_id != blank
    assign section_id = section.settings.anchor_id
  endif

-%}

{%- style -%}

  {% if background_colour != blank %}
    #shopify-section-{{ section.id }} {
      background: rgba(var(--theme-colour-{{ background_colour }}), 1);
      {% case background_colour %}
        {% when 'white' %}
          color: rgba(var(--theme-colour-black), 1);
        {% else %}
          color: rgba(var(--theme-colour-white), 1);
      {% endcase %}
    }
  {% endif %}

{%- endstyle -%}

<div class="{{ section_classes }}" id="{{ section_id }}">
  <div class="{{ section_name }}__main">
    {% render 'bs-container', state: 'open', col: 'col-12 col-lg-6 offset-lg-3', container: container %}
      <div class="{{ section_name }}__layout">

        {% capture aos %}
          {%
            render 'aos-attributes',
            anchor: section_id,
            duration: 1500,
            transition: 'fade-down',
          %}
        {% endcapture %}

        <div class="{{ section_name }}__brand" {{ aos }}>
          {% render 'svg', type: 'brand.logo' %}
        </div>

        <div class="{{ section_name }}__form">
          <strong class="caption--2">Enter your password to view site</strong>
          {%- form 'storefront_password', class: 'password-form form' -%}
            <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
              <input
                type="password"
                name="password"
                id="Password"
                class="field__input input input--secondary"
                autocomplete="current-password"
                {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="PasswordLoginForm-password-error"
                {%- endif -%}
                placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
              >
              {%- if form.errors -%}
                <div id="PasswordLoginForm-password-error" role="status">
                  <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                  <span class="form__message">{{ 'general.password_page.login_form_error' | t }}</span>
                </div>
              {%- endif -%}
            </div>
            <button name="commit" class="password-button button button--outline form__button button--submit-form" style="margin-top: 28px;">
              {{ 'general.password_page.login_form_submit' | t }}
            </button>
          {%- endform -%}
         </div>

        <div class="{{ section_name }}__cta" style="margin-top: 15px;">
          <small class="password__footer-text body-copy--1">{{ 'general.password_page.admin_link_html' | t }}</small>
        </div>

      </div>
    {% render 'bs-container', state: 'closed', container: container %}
  </div>
</div>

{% schema %}
{
  "name": "Password main",
  "tag": "section",
  "class": "section section--password",
  "settings": [
    {
      "content": "Settings",
      "type": "header"
    },
    {
		  "label": "Background",
		  "type": "select",
		  "options": [
        { "label": "Black", "value": "black" },
        { "label": "Silver", "value": "silver" },
        { "label": "Light Silver", "value": "light-silver" },
			  { "label": "White", "value": "white" }
		  ],
		  "default": "white",
		  "id": "background"
		},
    {
      "label": "Container",
      "type": "select",
      "options": [
        { "label": "Static", "value": "container" },
        { "label": "Fluid", "value": "container-fluid" },
        { "label": "Full Width", "value": "full-width" }
      ],
      "default": "container",
      "id": "container"
    }
  ],
  "blocks": []
}
{% endschema %}
