{%- assign section_name = 'collection-product-grid' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% if section.settings.anchor_id != blank %}
  {% assign section_id = section.settings.anchor_id %}
{% endif %}

{% assign title = collection.title | defualt: '' %}
{% assign description = collection.description | defualt: '' %}

<div class="{{ section_name }}" id="{{ section_id }}">
  {%- paginate collection.products by section.settings.products_per_page -%}

    {%- if collection.products.size == 0 -%}

       <div class="{{ section_name }}__hero">
        {% render 'layout--container', state: 'open', col: 'col-12 col-lg-10 offset-lg-1' %}
          <div class="{{ section_name }}__hero-content">
            <h1 class="{{ section_name }}__title heading--1">{{ title }}</h1>
            <div class="{{ section_name }}__description body-copy--1">It looks like there are currently no products in this collection!</div>
          </div>
        {% render 'layout--container', state: 'closed' %}
       </div>

    {%- else -%}

      <div class="{{ section_name }}__hero">
        {% render 'layout--container', state: 'open', col: 'col-12 col-lg-10 offset-lg-1' %}
          <div class="{{ section_name }}__hero-content">
            <h1 class="{{ section_name }}__title heading--1">{{ title }}</h1>
            {% if description != blank %}<div class="{{ section_name }}__description body-copy--1">{{ description }}</div>{% endif %}
          </div>
        {% render 'layout--container', state: 'closed' %}
      </div>

      <div class="{{ section_name }}__main">
        {% render 'layout--container', state: 'open', col: 'col-12 col-lg-10 offset-lg-1' %}
          <div class="{{ section_name }}__listing listing--{{ section_name }}">
            {%- for product in collection.products -%}
              {% render 'card-product', product: product, style: section_name %}
            {%- endfor -%}
          </div>
        {% render 'layout--container', state: 'closed' %}
      </div>

      {%- if paginate.pages > 1 -%}
        {% render 'pagination', paginate: paginate, anchor: '' %}
      {%- endif -%}

    {%- endif -%}

  {%- endpaginate -%}
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Collection Product Grid",
  "class": "section section--collection-grid",
  "settings": [
    {
      "label": "Products per Page",
      "type": "select",
      "options": [
        { "value": "3", "label": "3" },
        { "value": "9", "label": "9" },
        { "value": "12", "label": "12" },
        { "value": "18", "label": "18" },
        { "value": "24", "label": "24" }
      ],
      "default": "9",
      "id": "products_per_page"
    },
    {
      "label": "Show second image on hover",
      "type": "checkbox",
      "default": false,
      "id": "show_secondary_image"
    }
  ]
}
{% endschema %}
