{%- assign section_name = 'cart' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign hero_heading = section.settings.hero_heading | default: 'Your Shopping Bag' %}
{% assign empty_cta_link = section.settings.empty_cta_link | default: '' %}
{% assign empty_cta_title = section.settings.empty_cta_title | default: '' %}
{% assign empty_message = section.settings.empty_message | default: '' %}

<div class="cart-hero">
  {% render 'bs-container', state: 'open', col: 'col-12 col-lg-10 offset-lg-1' %}
    <h1 class="cart-hero__heading heading heading--1">{{ hero_heading }}</h1>
  {% render 'bs-container', state: 'closed' %}
</div>

<div class="cart-body">
  {% render 'bs-container', state: 'open', col: 'col-12 col-lg-10 offset-lg-1' %}

    <div class="cart-body__empty {% unless cart.empty? %}d-none{% endunless %}">
      {% if empty_message %}
        <div class="cart-body__message caption--2">{{ empty_message }}</div>
      {% endif %}
      {% if empty_cta_link != blank and empty_cta_title != blank %}
        <div class="cart-body__cta">
          <a class="cart-body__cta-button button button--primary" href="{{ empty_cta_link }}">{{ empty_cta_title }}</a>
        </div>
      {% endif %}
    </div>

    <form class="{{ section_name }}__main" action="{{ routes.cart_url }}" method="post" id="cart">
      <div class="{{ section_name }}__line-items cart-line-items">
        {%- for item in cart.items -%}
          {% render 'cart-line-item', line_item: item %}
        {%- endfor -%}
      </div>
    </form>

  {% render 'bs-container', state: 'closed' %}
</div>

<div class="cart-footer" id="cart-footer">
  {% render 'bs-container', state: 'open', col: 'col-12 col-lg-10 offset-lg-1' %}
    <div class="cart-footer__content">
      <div class="cart-footer__summary">
        <span class="cart-footer__summary-label">Total</span>
        <span class="cart-footer__summary-charge-amount js--checkout-charge-amount">{{ cart.checkout_charge_amount | divided_by: 100 | round: 2 }}</span>
        <span class="cart-footer__summary-notice">* Before Taxes & Shipping</span>
      </div>
      <button class="cart-footer__button-checkout button button--secondary" form="cart" name="checkout" type="submit">Checkout</button>
    </div>
  {% render 'bs-container', state: 'closed' %}
</div>

{% schema %}
{
  "name": "Cart",
  "tag": "div",
  "class": "cart",
  "settings": [
    {
      "content": "Hero",
      "type": "header"
    },
    {
      "label": "Heading",
      "type": "text",
      "id": "hero_heading"
    },
    {
      "content": "Empty Cart",
      "type": "header"
    },
    {
      "label": "Message",
      "type": "richtext",
      "id": "empty_message"
    },
    {
      "content": "Call to Action",
      "type": "paragraph"
    },
    {
      "label": "Title",
      "type": "text",
      "id": "empty_cta_title"
    },
    {
      "label": "Link",
      "type": "url",
      "id": "empty_cta_link"
    }
  ]
}
{% endschema %}
