{%- liquid

  assign section_name = 'blog'
  assign section_id = section_name | append: '--' | append: section.id
  assign section_classes = section_name | append: ' section-' | append: section.id | append: '-padding'

  assign aos_id = section_id | append: '--aos'
  assign aos_delay = 250
  assign aos_delay_increment = 250

  assign background_colour = section.settings.background | default: 'white'
  assign container = section.settings.container | default: 'container'
  assign hero_heading = section.settings.hero_heading | default: ''
  assign hero_image = section.settings.hero_image | default: false
  assign hero_info = section.settings.hero_info | default: ''
  assign grid_gutter = section.settings.grid_gutter | default: 20
  assign grid_layout = section.settings.grid_layout | default: '2'
  assign hero_text_colour_theme = section.settings.hero_text_colour_theme | default: 'light'
  assign post_per_page = section.settings.post_per_page | default: 6

  if section.settings.anchor_id != blank
    assign section_id = section.settings.anchor_id
  endif

-%}

{%- style -%}

  {% if background_colour != blank %}
    #shopify-section-{{ section.id }} {
      background: rgba(var(--theme-colour-{{ background_colour }}), 1);
      {% case background_colour %}
        {% when 'white' %}
          color: rgba(var(--theme-colour-black), 1);
        {% else %}
          color: rgba(var(--theme-colour-white), 1);
      {% endcase %}
    }
  {% endif %}

  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 992px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

{%- endstyle -%}

<div class="{{ section_classes }}" id="{{ section_id }}">

  {%- paginate blog.articles by post_per_page -%}

    {% if hero_heading != blank or hero_info != blank or hero_image %}
      <div class="{{ section_name }}__hero">
        {% render 'bs-container', state: 'open' %}
          <div class="{{ section_name }}__hero-main">

            {% if hero_image %}
              <div class="{{ section_name }}__hero-media">
                {%
                  render 'lazyload-image',
                  background: true,
                  image: hero_image,
                %}
              </div>
            {% endif %}

            {% if hero_heading != blank or hero_info != blank %}
              <div class="{{ section_name }}__hero-content" data-text-colour-theme-{{ hero_text_colour_theme }}>
                {% if hero_heading != blank %}<h1 class="{{ section_name }}__title heading--1">{{ hero_heading }}</h1>{% endif %}
                {% if hero_info != blank %}<div class="{{ section_name }}__info body-copy--1">{{ hero_info }}</div>{% endif %}
              </div>
            {% endif %}

          </div>
        {% render 'bs-container', state: 'closed' %}
      </div>
    {% endif %}

    <div class="{{ section_name }}__main">
      {% render 'bs-container', state: 'open', col: 'col-12 col-lg-10 offset-lg-1' %}
        <div class="{{ section_name }}__list grid grid--{{ grid_layout }}" id="{{ aos_id }}" data-grid-gutter="{{ grid_gutter }}" role="list">
          {%- for item in blog.articles -%}

            {%- liquid
              assign item_id = 'card-article' | append: '--' | append: item.id | append: '--' | append: forloop.index
            -%}

            <div class="{{ section_name }}__item grid__item" data-index="{{ forloop.index }}">
              {% render 'card-article', card_article: item, classes: 'blog__article', id: item_id %}
            </div>

          {%- endfor -%}
        </div>
      {% render 'bs-container', state: 'closed' %}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', classes: 'blog__pagination' col: 'col-12 col-lg-10 offset-lg-1', paginate: paginate -%}
    {%- endif -%}

  {%- endpaginate -%}

</div>

{% schema %}
{
  "name": "Blog",
  "tag": "section",
  "class": "section section--blog",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "content": "Hero",
      "type": "paragraph"
    },
    {
      "label": "Heading",
      "type": "text",
      "id": "hero_heading"
    },
    {
      "label": "Info",
      "type": "richtext",
      "id": "hero_info"
    },
    {
      "label": "Text Colour Theme",
      "type": "select",
      "options": [
        { "value": "light", "label": "Light" },
        { "value": "dark", "label": "Dark" }
      ],
      "default": "light",
      "id": "hero_text_colour_theme"
    },
    {
      "content": "Media",
      "type": "paragraph"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "hero_image"
    },
    {
      "content": "Blog",
      "type": "paragraph"
    },
    {
      "label": "Posts per page",
      "type": "range",
      "min": 6,
      "max": 24,
      "step": 2,
      "default": 6,
      "id": "post_per_page"
    },
    {
      "label": "Grid Layout",
      "type": "select",
      "options": [
        { "label": "Two Column", "value": "2" },
        { "label": "Three Column", "value": "3" }
      ],
      "default": "2",
      "id": "grid_layout"
    },
    {
      "label": "Grid Gutter",
      "type": "range",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 20,
      "id": "grid_gutter"
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
		  "label": "Background",
		  "type": "select",
		  "options": [
        { "label": "Black", "value": "black" },
			  { "label": "White", "value": "white" }
		  ],
		  "default": "white",
		  "id": "background"
		},
    {
      "label": "Container",
      "type": "select",
      "options": [
        { "label": "Static", "value": "container" },
        { "label": "Fluid", "value": "container-fluid" },
        { "label": "Full Width", "value": "full-width" }
      ],
      "default": "container",
      "id": "container"
    },
    {
			"label": "Top Padding",
			"type": "range",
			"min": 0,
			"max": 120,
			"step": 4,
			"unit": "px",
			"default": 36,
      "id": "padding_top"
		},
		{
			"label": "Bottom Padding",
			"type": "range",
			"min": 0,
			"max": 120,
			"step": 4,
			"unit": "px",
			"default": 36,
      "id": "padding_bottom"
		},
    {
			"content": "Anchor",
			"type": "header"
		},
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    }
  ]
}
{% endschema %}
