{%- assign section_name = 'blog' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign hero_heading = section.settings.hero_heading | default: '' %}
{% assign hero_image = section.settings.hero_image | default: '' %}
{% assign hero_info = section.settings.hero_info | default: '' %}
{% assign post_per_page = section.settings.post_per_page | default: 6 %}

{%- paginate blog.articles by 2 -%}

  <div class="{{ section_name }}" id="{{ section_id }}">

    {% if hero_heading != blank or hero_info != blank or hero_image %}
      <div class="{{ section_name }}__hero">
        {% if hero_image %}
          <div class="{{ section_name }}__hero-media">
            {%
              render 'content--lazyload-image',
              background: true,
              image: hero_image,
            %}
          </div>
        {% endif %}
        {% if hero_heading != blank or hero_info != blank %}
          <div class="{{ section_name }}__hero-content">
            {% if hero_heading != blank %}<h1 class="{{ section_name }}__title heading--1">{{ hero_heading }}</h1>{% endif %}
            {% if hero_info != blank %}<div class="{{ section_name }}__info body-copy--1">{{ hero_info }}</div>{% endif %}
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="{{ section_name }}__list">
      {%- for article in blog.articles -%}
        {%- render 'card-article', article: article, classes: 'blog__article' -%}
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}

  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "Blog",
  "tag": "section",
  "class": "section section--blog",
  "settings": [
    {
      "content": "Hero",
      "type": "header"
    },
    {
      "content": "Content",
      "type": "paragraph"
    },
    {
      "label": "Heading",
      "type": "text",
      "id": "hero_heading"
    },
    {
      "label": "Info",
      "type": "richtext",
      "id": "hero_info"
    },
    {
      "content": "Media",
      "type": "paragraph"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "hero_image"
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "label": "Posts per page",
      "type": "range",
      "min": 6,
      "max": 16,
      "step": 2,
      "default": 6,
      "id": "post_per_page"
    }
  ]
}
{% endschema %}
