{% assign section_name = 'policies' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign policy = shop.privacy_policy %}
{% assign policy_key = 'privacy_policy' %}

{% case request.path %}
  {% when '/policies/refund-policy' %}
    {% assign policy = shop.refund_policy %}
    {% assign policy_key = 'refund_policy' %}
  {% when '/policies/shipping-policy' %}
    {% assign policy = shop.shipping_policy %}
    {% assign policy_key = 'shipping_policy' %}
  {% when '/policies/subscription-policy' %}
    {% assign policy = shop.subscription_policy %}
    {% assign policy_key = 'subscription_policy' %}
  {% when '/policies/terms-of-service' %}
    {% assign policy = shop.terms_of_service %}
    {% assign policy_key = 'terms_of_service' %}
{% endcase %}

{% assign hero_image_key = policy_key | append: '_hero_image' %}
{% assign hero_image = section.settings[hero_image_key] | default: false %}

<div class="{{ section_name }}" id="{{ section_id }}">

  {% if hero_image %}
    <div class="{{ section_name }}__hero">
      {% render 'bs-container' %}
        <div class="{{ section_name }}__hero-image">
          {% render 'lazyload-image', background: true, image: hero_image %}
        </div>
      {% render 'bs-container', state: 'closed' %}
    </div>
  {% endif %}

  <div class="{{ section_name }}__main">
    {% render 'bs-container', col: 'col-12 col-lg-8 offset-lg-2' %}
      <div class="{{ section_name }}__content">
        <h1 class="{{ section_name }}__page-title heading--1">{{ policy.title }}</h1>
        <div class="{{ section_name }}__body body-copy--1">{{ policy.body }}</div>
      </div>
    {% render 'bs-container', state: 'closed' %}
  </div>

</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Policies",
    "tag": "section",
    "class": "section section--policies",
    "settings": [
      {
        "content": "Privacy Policy",
        "type": "header"
      },
      {
        "label": "Hero",
        "type": "image_picker",
        "id": "privacy_policy_hero_image"
      },
      {
        "content": "Refund Policy",
        "type": "header"
      },
      {
        "label": "Hero",
        "type": "image_picker",
        "id": "refund_policy_hero_image"
      },
      {
        "content": "Shipping Policy",
        "type": "header"
      },
      {
        "label": "Hero",
        "type": "image_picker",
        "id": "shipping_policy_hero_image"
      },
      {
        "content": "Subscription Policy",
        "type": "header"
      },
      {
        "label": "Hero",
        "type": "image_picker",
        "id": "subscription_policy_hero_image"
      },
      {
        "content": "Terms of Service",
        "type": "header"
      },
      {
        "label": "Hero",
        "type": "image_picker",
        "id": "terms_of_service_hero_image"
      }
    ]
  }
{% endschema %}
